<html>
<head>
    {{>header}}
</head>
<body>
     <h1>{{title}}</h1>
      <a> href="/new" class="btn btn-primary">
          Enter new dish
      </a>
      {{#entries}}
    
       <div>
            <h4> {{name}} </h4>
             <p>
                {{description}}
            </p>

        <div>
             <p> Contains {{ingredients}}, allergy advice {{allergies}} </p>
        </div>
        
        <div>
             <p> Price: {{price}} </p>        
        </div>
        <hr>
        {{/entries}}
        {{^entries}}
            No entries yet.
        {{/entries}}
     
</body>
</html>











